
.handle-box[data-v-43aff8dc] {
    margin-bottom: 20px;
}
.handle-select[data-v-43aff8dc] {
    width: 120px;
}
.handle-input[data-v-43aff8dc] {
    width: 300px;
    display: inline-block;
}
.table[data-v-43aff8dc] {
    width: 100%;
    font-size: 14px;
}
.red[data-v-43aff8dc] {
    color: #ff0000;
}
.mr10[data-v-43aff8dc] {
    margin-right: 10px;
}
.table-td-thumb[data-v-43aff8dc] {
    display: block;
    margin: auto;
    width: 40px;
    height: 40px;
}

