
.card[data-v-073a9d9c]{
    font-family: "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
    width: 230px;
    height: 450px;
    margin-left: 80px;
    margin-top: 10px;
    display: inline-block;
}
.card[data-v-073a9d9c]:hover{
    cursor: pointer;
    color: #409EFF;
}
.image[data-v-073a9d9c] {
    width: 100%;
    display: block;
}
.bottom[data-v-073a9d9c] {
    margin-top: 13px;
    line-height: 12px;
}
.clearfix[data-v-073a9d9c]:before,
.clearfix[data-v-073a9d9c]:after {
    display: table;
    content: "";
}
.clearfix[data-v-073a9d9c]:after {
    clear: both
}


body[data-v-17534f9e] {
    text-align: center;
    background-color: #bbbbbb
}
#main[data-v-17534f9e] {
    margin: 0 auto;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    width: 1300px;
    height: 500px;
    background-color: snow;
    margin-top: 50px
}
.foot[data-v-17534f9e] {
    margin: 0 auto;
    /*margin-top: 50px;*/
    /*margin-left: 150px;*/
    width: 1600px;
    height: 500px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
}
.lfoot[data-v-17534f9e] {
    position: absolute;
    display: inline-block;
    width: 350px;
    height: 500px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
}
.tlfoot[data-v-17534f9e] {
    width: 100%;
    margin-top: -25px;
    text-align: center;
    line-height: 80px;
    height: 100px;
    background-color: lightblue;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
}
.blfoot[data-v-17534f9e] {
    margin-top: 50px;
    background-color: #00d1b2;
    height: 325px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
}
.rfoot[data-v-17534f9e] {
    position: absolute;
    display: inline-block;
    margin-left: 400px;
    width: 1150px;
    height: 500px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
}
.trfoot[data-v-17534f9e] {
    margin-top: 0;
    height: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
}
.brfoot[data-v-17534f9e] {
    margin-top: 0;
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    /*align-items: center;*/
    align-content: flex-start;
    padding-right: 70px;
    width: 1080px;
    height: 450px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
}
#left[data-v-17534f9e] {
    display: inline-block;
    width: 350px;
    height: 350px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
    margin-left: 20px;
}
#left img[data-v-17534f9e] {
    width: 100%;
    height: 100%;
    margin-bottom: 100px;
}
#right[data-v-17534f9e] {
    display: inline-block;
    width: 500px;
    height: 500px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
    margin-left: 10px;
    margin-top: 50px;
}
#right2[data-v-17534f9e] {
    display: inline-block;
    width: 300px;
    height: 430px;
    margin-left: 50px;
    background-color: #DCDCDC;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    margin-top: 0px;
}
.top[data-v-17534f9e] {
    margin: 0 auto;
    width: 1880px;
    height: 40px;
    background-color: #F5F5F5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
}
.el-carousel__item h3[data-v-17534f9e] {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 200px;
    margin: 0;
}
.el-carousel__item[data-v-17534f9e]:nth-child(2n) {
    background-color: #99a9bf;
}
.el-carousel__item[data-v-17534f9e]:nth-child(2n+1) {
    background-color: #d3dce6;
}

